# python related
*.pyc

# C/C++ related
*.o
*.d
*.elf
*.bin
*.map

# Temp files
*.swp
*.swo

.vscode

.DS_Store
Deployment/Source/NN/DS_CNN/old_ds_cnn_weights.h
Deployment/Source/NN/DS_CNN/ds_cnn_weights.h
Deployment/Source/NN/DS_CNN/ds_cnn_weights.h
